body{
    background-color: black;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}
img{
    width: 250px;
    height: fit-content;
    border-radius: 10px;
    -webkit-box-reflect: below 2.5px
    linear-gradient(transparent,transparent,rgba(3,3,3,0,2));
    border: 3px ridge #a5b1c2;
    margin: 5px;
}
.card{
    transition: 0.5s ease;
    cursor: pointer;
}
.container:hover > :not(:hover){
    opacity: 0,3;
}
.card:hover{
    transform: scale(1.1);
    filter: grayscale(0%);
}